html,
body {
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
}

p {
  color: white;
  text-align: center;
  font-weight: bolder;
}

#popup-content {
  display: flex;
  border: 0.5px solid grey;
  min-height: 100px;
  margin-top: 10px;
}

#done-list {
  display: flex;
  min-width: 100px;
  border-right: 3.5px solid black;
  padding: 0 75px 0 0;
  overflow: hidden;
}

#wait-list {
  display: flex;
  gap: .5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 75px;
  margin: 0 1.5px;
  border-radius: 10px;
}

.grave-stone {
  pointer-events: none;
  width: 30px;
  text-align: center;
}

.grave-stone-div {
  cursor: pointer;
}

.enemy-card {
  background-color: 	#834913;
}

.boss-banner {
  position: relative;
  height: 10px;
  width: 100%;
  margin-bottom: -10px;
  background-color: #cb9b32;
}

.player-card {
  background-color: #5b8bb6;
}

.ally-card {
  background-color: #1e1a47;
}

.hide {
  display: none;
}

.bloodied {
  background-color: #880808;
}

.drag-over {
  border: dashed 3px red;
}

/* Info */
.info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
}

#reset {
  background-color: #cb9b32;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

#reset:hover {
  background-color: goldenrod;
}

.info-p {
  color: black;
}

/* Character selection */
h2 {
  text-align: center;
  margin-top: 0;
}

.selectable {
  cursor: pointer;
  height: 100px;
  width: 75px;
}

.selectable .card {
  pointer-events: none;
}

.player-cards {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-card-row {
  display: flex;
  margin: 5px 0;
  gap: 5px;
  width: 450px;
  justify-content: center;
}
